.background {
  z-index: 1;
  position: relative;
  height: 45vw;
  padding-left: 9vw;
  top: -100px !important;
  margin-bottom: -100px;
  @media only screen and (max-width: 1250px) {
    padding-left: 10vw;
    height: 45vw;
  }
  @media only screen and (max-width: 768px) {
    height: 80vw;
    padding-left: 6vw;
  }
}

* {
  margin: 0;
}

.title {
  color: white;
  width: 100vw;
  display: block;
  padding-top: 15vw;
  font-family: "Libre Baskerville";
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  z-index: 3;
  @media only screen and (max-width: 768px) {
    padding-top: 30vw;
    font-size: 200%;
  }
  @media only screen and (min-width: 768px) and (max-width: 1250px) {
    padding-top: 12vw;
    font-size: 300%;
  }
}

.banner-des {
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: white;
  margin-top: 1vw;
  @media only screen and (max-width: 1250px) {
    //width: 60vw;
    //margin-bottom: -5vw;
    //font-size: 80%;
  }
  @media only screen and (max-width: 768px) {
    line-height: 24px;
    margin-top: -5vw;
    font-size: 14px;
  }
}