.book-grid{
    margin-top: 5px;
}

.book-list-main-div{
    margin-top: 20px;
    margin-bottom: 50px;
}

.card-image{
    height: 250px;
    width: 150px;
    cursor: pointer;
    @media only screen and (max-width: 768px) {
        height: 220px;
        width: 150px;
    }
}